body{
    margin:0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
}
nav{
    width:100%;
    height:50px;
    background-color: white;
    display:flex;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
}
nav ul {
    width:100%;
    list-style: none;
    display:flex;
    justify-content: space-around;
    align-items:center;
}

nav ul li{
    text-transform: uppercase;
    font-weight:bold;
    color:#CCCCCC;
    font-size: 18px;
}
.hightlight{
    color:#FF7800;
}
h1{
    color:#999999;
    font-size:18px;
    margin-left:2rem;
    font-weight:700;
}
#cards{
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 75% 25%;
}
#cardLeft{
    background-color: white;
    margin-left:1rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    height:500px;
    border-radius: 3px;
}

        #cardLeft ul{
            list-style: none;
        }

        #cardLeft ul li{
            border:solid 1px #EEEEEE;
            margin-bottom:2rem;
            margin-right:2rem;
            padding: 3px;
            align-items: center;
            display:flex;
            justify-content: flex-start;    
        }

        #cardLeft ul li img{
            width:50px;
            height:70px;
            padding-left: 8px;
            margin-right:30px;
        }

        #cardLeft ul li spam{
            width:80%;
        }

#cardRight{
    margin-left:1rem;
    margin-right:1rem;
}

        #cardRight ul{
            border:solid 1px #CCCCCC;
            padding:0px 1rem 0px 1rem;
            margin-top: 0px;
        }

        #cardRight ul li{
            list-style: none;
            display:flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            font-size:18px;
        }
        
        #cardRight ul li#desc{
            color:#FF7800;
        }

        #cardRight ul li#tot{
            padding-top:20px;
            font-weight: 700;
        }

        section button{
            width:100%;
            height:50px;
            border:none;
            background-color: #FF6c00;
            color:white;
            text-transform: uppercase;
            font-size:16px;
            font-weight: bold;
            box-shadow: 1px 1px 5px rgba(214, 66, 12, 0.945);
            border-radius: 3px;
        }









